{
    "recurseDepth": 10,
    "source": {
        "include": [
            "./"
        ],
        "exclude": [
            "./node_modules/",
            "./database",
            "./json_structures",
            "./game",
            "./.vscode",
            "./.git",
            "./public/common/bootstrap/",
            "./docs"
        ],
        "includePattern": ".+\\.js(doc|x)?$",
        "excludePattern": "(^|\\/|\\\\)_"
    },
    "sourceType": "module",
    "tags": {
        "allowUnknownTags": ["category"]
    },
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": false,
        "search": true,
        "better-docs": {
            "title" : "S3.A.01 G2 project",
            "name" : "Documentation of S3.A.01 G2 project",
            "hideGenerator": true,
            "navLinks": [
                {
                    "label": "Socket.io",
                    "href": "https://socket.io/"
                },
                {
                    "label": "Express",
                    "href": "https://expressjs.com/"
                },
                {
                    "label": "Bootstrap",
                    "href": "https://getbootstrap.com/"
                },
                {
                    "label": "JSDoc",
                    "href": "https://jsdoc.app/"
                },
                {
                    "label": "Better-docs",
                    "href": "https://github.com/SoftwareBrothers/better-docs"
                }
            ]
        }
    },
    "plugins": [
        "node_modules/better-docs/category"
    ],
    "opts":{
        "destination": "./docs/",
        "recurse": true,
        "encoding": "utf8",
        "readme": "./README.md",
        "template" : "node_modules/better-docs"
    }
}