{
    "port" : 3000,
    "database" : {
        "path" : "./database/mabase.db",
        "type" : "sqlite3"
    },
    "public_dir" : "public",
    "logs": {
        "dir": "logs",
        "maxFiles": 5,
        "refreshTimeSec": 60,
        "useDebug": true
    },
    "default_rooms" : [
        {
            "name" : "general",
            "description" : "General discussion",
            "visible" : true,
            "whitelist" : false,
            "userlist" : []
        }
    ],
    "main_room_name" : "general",
    "paths" : {
        "connection" : {
            "mode" : "GET",
            "path" : "%public_dir%/modules/connection.html"
        },
        "events" : {
            "mode" : "GET",
            "path" : "%public_dir%/modules/events/events.json"
        },
        "doc" : {
            "mode" : "GET",
            "path" : "docs/",
            "recursive" : true
        }
    },
    "default_path" : "%public_dir%/404.html"
}