{
    "port" : 3000, //the port on which the server will listen
    "versionFile" : "./database/version.jsonc", //this file is used to store version of any persistent data, like database
                                                //it allow to update them when needed
    "database" : {
        "path" : "./database/serverDatabase.db", //the path to the database file
        "createTablesPath" : "./database/createTables.sql", //the path to the file that contains the sql code to create the tables
        "updateTablesFolder" : "./database/updates/", //the folder where the update files are stored
        "type" : "sqlite3", // this is the type of the database
        "bcryptRounds": 10 //the number of rounds used to hash the passwords
    },
    "public_dir" : "public", //the folder where the public files are stored
    "public_common_dir" : "%public_dir%/common", //the folder where the common files (used by both desktop and mobile) are stored
    "public_desktop_dir" : "%public_dir%/desktop",  //the folder where the desktop files are stored
    "public_mobile_dir" : "%public_dir%/mobile",    //the folder where the mobile files are stored
    "games_dir" : "%public_common_dir%/games",    //the folder where the games are stored, each game is a .game file
    "logs": {
        "dir": "logs",  //the folder where the logs are stored
        "maxFiles": 5,  //the maximum number of files that can be stored in the logs folder, oldest files are deleted first when the limit is reached
        "refreshTimeSec": 1800, //the lifetime of a log file in seconds, after this time the logger creates a new file
        "useDebug": true    //if true, the logger will write debug messages in the log files
    },
    "default_rooms" : [ //list of rooms to create when the server starts (they will be avaliable at any moment in the server)
                        //the main room needs to be in the list, but not necessarily the first one
        {
            "name" : "general", //the name of the room
            "description" : "General discussion", //the description of the room
            "visible" : true,   // if true, the room will be visible in the room list
            "whitelist" : false,    //if true, only the users in the userlist will be able to join the room
            "userlist" : [] //the list of users that can join the room
        }
    ],
    "main_room_name" : "general",   //the name of the main room (the room where the users are redirected when they connect to the server)
    "allow_chat_commands" : true,   //if true, the users will be able to use the chat commands
    "paths" : {    //the paths to the files that will be served by the server
        "GET" : {
            "/events" : {  //the url that will be used to get the events
                "path" : "%public_common_dir%/assets/ressources/events.json", //the path to the events file on the server
                "use_subdir" : false
            }
        },
        "POST" : {

        }
    },
    "default_page" : "404.html" //the page that will be served when the user tries to access a page that doesn't exist
}