{
    "port" : 3000,
    "database" : {
        "path" : "./database/serverDatabase.db",
        "createTablesPath" : "./database/createTables.sql",
        "type" : "sqlite3",
        "bcryptRounds": 10
    },
    "public_dir" : "public",
    "logs": {
        "dir": "logs",
        "maxFiles": 5,
        "refreshTimeSec": 1800,
        "useDebug": true
    },
    "default_rooms" : [
        {
            "name" : "general",
            "description" : "General discussion",
            "visible" : true,
            "whitelist" : false,
            "userlist" : []
        }
    ],
    "main_room_name" : "general",
    "paths" : {
        "connection" : {
            "mode" : "GET",
            "path" : "%public_dir%/modules/connection.html"
        },
        "events" : {
            "mode" : "GET",
            "path" : "%public_dir%/assets/ressources/events.json"
        }
    },
    "default_path" : "%public_dir%/404.html",
    "api_path" : "/api"
}