/* Styles pour les écrans larges (desktop) */
#chat_container {
    background: rgba(84, 146, 246, 0.69); 
    padding: 0.25rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#chat_container h3 {
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    height: auto; /* Ajustez la hauteur automatiquement */
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

#send_message { 
    border: 1px solid black;
    font-size: larger;
    margin: 0.1rem;
    width: 100%;
}

#send_message:focus {
    outline: none;
}

/* Media query pour les écrans plus petits (mobile) */
@media (max-width: 768px) {
    #chat_container {
        padding: 0.5rem; /* Augmentez la marge pour un meilleur espacement sur les écrans plus petits */
        height: auto;
    }
    
    #message_form {
        position: relative;
    }
    
    #messages {
        height: 50vh; /* Définissez une hauteur fixe pour les messages sur les écrans plus petits */
    }
}
