@media (max-width: 700px) {
    
    #chat_container {
        max-width: 100%;
    }

    #message_form {
        width: 90%;
    }
    
    #profile_bottom {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 10em;
        height: 10em;
    }
}


@media (min-width: 701px) {

    #bottom_container {
        display: none;
    }
    
    #chat_container {
        max-width: 25%;
    }
    
    #message_form {
        width: 60%;
    }
    
}

@media (max-height: 700px) {

    #message_form > button {
        height: 100%;
        width: 100%;
    }

}

@media (min-height: 701px) {

    #message_form > button {
        height: 70%;
        width: 100%;
    }

}