/* @import url("./queried_style.css");
@import url("./navbar.css");*/
@import url("./chat.css"); 

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100%;
}

.bg-blue {
    background-color: rgba(84, 146, 246, 0.69);
    font-size: x-large;
}

/* .littlenav {
    height: 2.5em;
    text-align: center;

}

.top_container {
    width: 100%;
    height: 100%;
}*/

#app_container {
    height: 80%;
}

.app_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}


/*#usernameDiv {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#usernameForm {
    background-color: black;
    position: fixed;
    display: flex;
    height: 1erm;
}

.messagesDiv > h3 { text-align: center; }
 

#messageForm > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.timestamp{
    font-size: 0.5rem;
    color: #aaa;
} */