@import url("./queried_style.css");
@import url("./navbar.css");
@import url("./chat.css");

body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.top_container {
    width: 100%;
    height: 100%;
}

#app_container {
    height: -webkit-fill-available;
}

.app_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}


#usernameDiv {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#usernameForm {
    background-color: black;
    position: fixed;
    display: flex;
    height: 1erm;
}

.messagesDiv > h3 { text-align: center; }
 

#messageForm > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.timestamp{
    font-size: 0.5rem;
    color: #aaa;
}