html, body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--border-color);
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 96vh;
    width: 100%;
}

.head {
    min-width: 25%;
    display: flex;
    justify-content: center;
}
.head header { width: 100%; }


#login {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

#login header, #register header, #forgot-password header {
    margin: auto;
    text-align: center;
}

#login-with { box-shadow: 0 1px 2px 0 rgba(255, 228, 228, 0.09); }

#login-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 0.75rem;
}

.login-google-button {
    height: 10%;
    display: flex;
    align-items: center;
    margin: 0;
}
            
.form-group { margin-bottom: 15px; }
label { margin-bottom: 5px; }
   

input[type="text"], input[type="password"], button[type="submit"], button[type="button"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin: auto;
}
            
button[type="button"],
button[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

            
button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #5aa9ff;
    transition: all 0.25s ease-in-out;
}

.round-border {
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 0.8em;
}