html, body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--border-color);
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 96vh;
    width: 100%;
}

.head {
    min-width: 25%;
    display: flex;
    justify-content: center;
}
.head header { width: 100%; }

main { width: 80%; }

.round-border {
    border-width: 1px;
    border-color: var(--border-color);
    border-radius: 0.8em;
}

#login, #register {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#login { max-width: 50%; }
#register { max-width: 80%; }
#forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
}

#login header, #register header, #forgot-password header {
    margin: auto;
    text-align: center;
}

.join-with { box-shadow: 0 1px 2px 0 rgba(255, 228, 228, 0.09); }

#login-form, #signup-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 0.75rem;
}

.login-with-button {
    height: 10%;
    display: flex;
    background-color: #fff;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    transition: all 0.25s ease-in-out;
}
.login-with-button:hover { 
    cursor: pointer;
    background-color: #dbdbdb;
}
            
#login .form-group { margin-bottom: 15px; }
.form-group { flex: 0 0 50%; }
label { margin-bottom: 5px; }

input[type="text"], input[type="email"], input[type="password"], button[type="submit"], button[type="button"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin: auto;
}
            
button[type="button"],
button[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

            
button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #5aa9ff;
    transition: all 0.25s ease-in-out;
}

.form-columns {
    display: flex;
    flex-wrap: wrap;
}
