.top-navbar {
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.top-navbar{
  a,div {
    float: left;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.top-navbar{
  a:hover, div:hover {
    background-color: #dddddd80;
    cursor: pointer;
  }
}

.top-navbar p {
    margin: 0;
    padding: 0;
}

.navbar{
  height: 10vh;
  display: inline-flex;
  .ortelo_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img{
      width: 100%;
    }
  }

  .top-navbar{
    figure{
      margin: 0;
      padding: 0;
    }
  }
}