@media not all and (prefers-color-scheme: dark) {
    :root {
        --background-color: #FFFFFF;
        --border-color: #000000;
        --accent-color: rgba(84, 146, 246, 0.69);
        --accent-color-hover: rgba(49, 127, 253, 0.9);
        --detail-color: #888888;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color : rgb(43, 42, 51);
        --border-color : #FFFFFF;
        --accent-color : rgba(115, 165, 245, 0.69);
        --accent-color-hover : rgba(40, 108, 218, 0.9);
        --detail-color : #888888;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    padding: 0.75rem;
    background-color: var(--background-color);
    color: var(--border-color);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white;
}

.profile-container h1 {
    text-align: center;
}

.profile-container {
    width: 80%; 
    margin: 0 auto; 
}

#displayForm {
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 10px;
}


form .password-group {
    display: flex;
    align-items: center;
    gap: 5px;
}


form button[type="submit"] {
    align-self: center; 
}
