.banner{
    width: 25%;
    text-align: center;
    height: 100px;
    img{
        height: 80%;
    }
}

.chat{
    width: 25%;
    position: fixed;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: calc(100% - 100px);
    bottom: 0;
    left: 0;


    .title{
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;

    }


    .form{
        width: calc(100% - 1em);
        bottom: 0;
        position: absolute;
        padding: 0.5em;

        .textInput{
            height: 2em;
            width: calc( 80% - 1em);
            margin-left: 10%;
            border: 1px solid black;
            border-radius: 0.8em;
            padding: 0.5em;
        }

        .confirm{
            margin-top : 0.5em;
            height: 2em;
            width: 80%;
            margin-left: 10%;
            border: 1px solid black;
            border-radius: 0.8em;
            background-color: rgba(84, 146, 246, 0.69);
            color: white;
            cursor: pointer;
            &:hover{
                background-color: rgba(49, 127, 253, 0.9);
            }
        }
    }

    .messages_list{
        width: calc(100% - 1em);
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 90px - 2em);
        padding: 0.5em;
        margin-bottom: 2em;
        list-style: none;

        .message_item{
            max-width: 90%;
            width: max-content;
            min-width: 30%;
            margin-bottom: 0.5em;
            padding: 0.2em 0.5em 0.2em 0.5em;
            border: 1px solid black;

            &.me{
                border-radius: 1em 1em 0 1em;
                text-align: right;
                margin-left: auto;

            }
            &.other{
                border-radius: 1em 1em 1em 0;
                text-align: left;
                margin-right: auto;


            }

            .date{
                font-size: 0.8em;
                color: gray;
                text-align: right;
            }

        }
    
    }
}

.gamesContainer{
    right: 0;
    position: absolute;
    width: 70%;
    text-align: center;
    margin-left:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: calc(100% - 100px);
    & .GameItem{
        width: 20em;
        height: min-content;
        & img{
            width: 90%;
            border-radius: 1em;
        }
        border-radius: 1em;
        margin: 1em;
        border: 1px solid black;
        padding: 0.5em;
        cursor: pointer;
    }
}

.content404{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img{
        width: 50%;
    }
}