*{
    font-size: 1.15em;
}


.banner{
    width: 100%;
    text-align: center;
    height: 20%;
    & img{
        width: 100%;
        max-width: 500px;
    }
}

.content404{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img{
        width: 50%;
    }
}

.chat{
    display: none;
    position: fixed;
    bottom: 0;
}

#games_container{
    text-align: center;
    & img{
        width: 90%;
    }
    margin-left:30%;
    & ol{
        list-style: none;
        counter-reset: item;
        padding: 0;
        margin: 0;
    }
}