
:root {
        --background-color: #FFFFFF;
        --border-color: #000000;
        --accent-color: rgba(84, 146, 246, 0.69);
        --accent-color-hover: rgba(49, 127, 253, 0.9);
        --detail-color: #888888;
        --colored-element: #186b18;
    }


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

.reversi_game_div {
    max-width: 100%;
    max-height: 80%;
    
    margin: 0 auto;
    padding: 20px;
    background-color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--accent-color);
}

#gameBoard {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
    margin: 20px 0;
}

#gameBoard td {
    background-color: var(--colored-element);
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

/* black and white pieces (common styles) */
#gameBoard td::after {
    content: '';
    padding-bottom: 100%;
    display: block;
    border-radius: 50%;
    scale: 0.9;
}

/* black pieces */
#gameBoard td.black::after {
    background-color: black;
}

/* white pieces */
#gameBoard td.white::after {
    background-color: white;
}

#gameStatus {
    margin: 20px 0;
    font-size: 1.2em;
}

button{
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#restartButton:hover {
    background-color: var(--accent-color-hover);
}

#players {
    margin-bottom: 20px;
}

.jeton-noir {
    display: inline-block;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.jeton-blanc {
    display: inline-block;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}
#gameBoard td.playable-black::after {
    opacity: 0.3;
    background-color: black;
}

#gameBoard td.playable-white::after {
    opacity: 0.3;
    background-color: white;
}

/* TODO */
#hintButton {
    transition: background-color 0.5s ease, transform 0.5s ease;
}


#hintButton.active {
    background-color: var(--accent-color-hover);
}

#hintButton::before{
    content: "💡";
    font-size: 0.8em;
}


#winnerAnnouncement {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2em;
    border-radius: 10px;
    z-index: 1000;
    animation: fadeInOut 5s;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}


