body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.reversi_game_div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#gameBoard {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#gameBoard td {
    width: 50px;
    height: 50px;
    background-color: #006400;
    border: 1px solid #fff;
    position: relative;
}

#gameBoard td::after {
    content: '';
    display: block;
    margin-left: 50%;
    height: 0;
    padding-bottom: 100%;
    transform: translate(-50%, 0);
}

#gameBoard td.black::after {
    background-color: black;
    border-radius: 50%;
    width: 80%;
}

#gameBoard td.white::after {
    background-color: white;
    border-radius: 50%;
    width: 80%;
}

#gameStatus {
    margin: 20px 0;
    font-size: 1.2em;
}

#restartButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#restartButton:hover {
    background-color: #45a049;
}

#players {
    margin-bottom: 20px;
}

.jeton-noir {
    display: inline-block;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.jeton-blanc {
    display: inline-block;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}
#gameBoard td.playable-black::after {
    opacity: 0.3;
    background-color: black;
    border-radius: 50%;
    width: 80%;
}

#gameBoard td.playable-white::after {
    opacity: 0.3;
    background-color: white;
    border-radius: 50%;
    width: 80%;
}

#hintButton {
    background-color: #f0e68c;
    border: 1px solid #d2b48c;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#hintButton.active {
    background-color: #ffd700;
    color: black;
}
#hintButton.active:hover {
    background-color: #ffeb3b;
}

#hintButton.active:active {
    background-color: #ffda00;
}
